/*CSS Reset*/

* {
	border-style: none;
}

/*Google Font*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*Navigation Bar*/
header	{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 0.3px solid gray;
	list-style-type: none;
	position: sticky;
	top: 0;
	background-color: white;
}

nav .nav, nav .nav-logo {
    margin: 2rem;
    display: inline;
}

nav .right-nav {
	float: right;
}

/*Navigation Bar End*/

/*Button*/
button {
color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}
/*Button End*/

/*Landing Page*/
#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: cover;
	margin-top: 0;
	background-position: center;
	/*background-color: rgba(0, 0, 0, 0.5);*/
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
}

.container {
	/*background-color: rgba(0, 0, 0, 0.5);*/
	min-height: 40vh;
	/*height: 100vh;*/
    color: white;
    text-align: right;
    width: 40vw;
    /*position: relative;*/
    margin-left: 50%;
    left: 50vw;
    text-align: right;
}
.apply-button {
    background-color: #c2195b;
    border-style: none;
    border-radius: 50px;
    color: white;
}
.book-button {
    background-color: #336589;
    border-style: none;
    border-radius: 50px;
    color: white;
    margin-bottom: 30px;
}

.subtitle {
	font-size: 15px;
	font-display: "Times New Roman, Times, serif";

}

.intro {
	text-align: center;
}

.title-2 + .intro-description {
	margin: 100px 0;
	text-align: justify;
	margin-left: 100px;
	margin-right: 100px;
}

.title-2 + .prefooter-description {
	margin: 70px 0;
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
}

.pre-footer {
	text-align: center;
}

.title, .title-2 {
	font-family: "Zilla Slab";
}
/*Landing Page End*/

.footer {
	text-align: center;
}